pandas
numpy
pydantic
websockets
httpx
fastapi[all]
uvicorn[standard]
cryptography
pydantic
langchain
accelerate>=0.20.3 
bitsandbytes
sentencepiece
sentence_transformers
psycopg2-binary
tiktoken
SQLAlchemy
torch
asyncio
watchdog[watchmedo]
huggingface_hub
transformers
asyncpg
psycopg
